# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Tests / Cache
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Environment
.env

# ML Artefakte
models/*.pkl
models/**/*.pkl
models/backups/
models/reports/

# Training temporär
*.joblib