# Virtuelle Umgebung
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Umgebungsvariablen
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Betriebssystem
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Datenbank
database/*.db

# ==========================
# Machine Learning Artefakte
# ==========================

# lokale ML Artefakte
models/*.pkl
models/**/*.pkl
models/backups/
models/reports/
models/latest_training_model.pkl


# ==========================
# Tests / Coverage
# ==========================

.pytest_cache/
.coverage
htmlcov/


# ==========================
# Build / Packaging
# ==========================

dist/
build/
*.egg-info/